body {
    padding: 0; margin: 0;
    background-image: url(pink2.jpg);
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

header{
    background-color: white;
}

marquee{
    background-color: white;
    font-size: 25px;
}

audio{
    transform: translateX(200%);
}

button{
    display: flex;
    font-weight: 500;
    font-size: 20px;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 20px;
    margin-top: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover{
    border: 1px black;
    color: rgb(255, 75, 108);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tabeljadwal{
    border: 4px double black;
    background-color: white;
    width: 650px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.Jadwal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 5%);
    background-color: rgb(246, 229, 232);
}

.daftar{
    display: block;
    width: 90%;
    background-color: white;
    padding: 10px;
    text-align: center;
    margin-top: 15px;
    border: 4px double black;
    margin-left: auto;
    margin-right: auto;
}

#siswa{
    width: auto;
    height: auto;
    border: 5px dotted black;
    margin-bottom: 3%;
}

#siswa div{
    width: 250px;
    height: auto;
    background-color: rgb(246, 229, 232);
    border: 2px dashed black;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 1%;
}

#siswa div ol li{
    text-align: left;
}

#jadwalpiket{
    width: auto;
    height: auto;
    border: 5px dotted black;
    margin-bottom: 1%;
    margin-top: 2%;
}

#jadwalpiket h5{
    margin-top: 18px;
    margin-bottom: -5px;
    border-bottom: 2px dashed black;
}

#jadwalpiket div{
    width: 250px;
    height: auto;
    border: 2px solid black;
    background-color: rgb(246, 229, 232);
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 1%;
}

#jadwalpiket div ul li{
    text-align: left;
}

.video{
    border: 5px dotted black;
    margin-bottom: 1%;
}

#kumpulan div{
    border: 2px solid black;
    background-color: rgb(246, 229, 232);
    display: inline-block;
    margin-bottom: 2%;
    margin-top: 1%;
}

#kumpulan div video{
    width:500px; 
    padding: 20px;
    margin-right: auto;

}

.foto{
    border: 5px dotted black;
}

#Dokumentasi div{
    border: 2px solid black;
    background-color: rgb(246, 229, 232);
    display: inline-block;
    margin-bottom: 2%;
    margin-top: 1%;
}

#Dokumentasi div img{
    width:500px; 
    height:300px;
    padding: 20px;
    margin-right: 20px; 
}






@media screen and (min-width:768px) and (max-width:1023px) {
    
body{
    background-image: url(blue6.jpg);
     background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

marquee{
    font-size: 20px;
}

audio{
    transform: translateX(80%);
}

button:hover{
    color: rgb(32, 59, 78);
}

.tabeljadwal{
    width: 650px;
    height: 420px;
}

.Jadwal{
    transform: translate(-50%, 10%);
    background-color: rgb(183, 223, 251);
}

#siswa{
    height: 460px;
}

#siswa div{
    background-color: rgb(183, 223, 251);
    width: 210px;
}

#jadwalpiket{
    height: 520px;
}

#jadwalpiket div{
    background-color: rgb(183, 223, 251);
    width: 210px;
}

.video{
    height: 940px;
}

#kumpulan div{
    background-color: rgb(183, 223, 251);
}

.foto{
    height: 820px;
}

#Dokumentasi div{
    background-color: rgb(183, 223, 251);
}

}







@media screen and (max-width:720px){

    body{
        background-image: url(purple3.jpg);
        background-size: cover;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    marquee{
        font-size: 18px;
        margin-bottom: 2%;
    }

    audio{
        transform: translateX(20%);
    }

    button{
    font-size: 15px;
    }

    button:hover{
        color: rgb(116, 65, 245);
    }

    .tabeljadwal{
        border: 4px double black;
        background-color: white;
        width: 95%;
        height: 300px;  
        display: none;
    }

    .Jadwal{
        position: absolute;
        top: 50%;
        transform: translate(-50%, 9%);
        background-color: rgb(204, 184, 255);
    }

    th,tr{
        padding: 5px;
    }

    #siswa{
        height: 990px;
        margin-bottom: 7%;
    }

    #siswa div{
        background-color: rgb(204, 184, 255);
    }

    #jadwalpiket{
        height: 1140px;
    }

    #jadwalpiket div{
        background-color: rgb(204, 184, 255);
    }

    .video{
        height: 750px;
    }

    #kumpulan div{
        background-color: rgb(204, 184, 255);
        width: 330px;
    }
    
    #kumpulan div video{
        width: 280px;
    }

    #kumpulan h4{
        margin-top: 10%;
    }

    .foto{
        height: 530px;
    }

    #Dokumentasi{
        width: 100%;
        padding-right: 0px;
    }

    #Dokumentasi div{
        background-color: rgb(204, 184, 255);
    }

    #Dokumentasi div img{
        width: 280px;
        height: 160px;
        margin-right: none;
        margin-left: none;
        padding-right: 0px;
    }
}